# Terraform
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
*.terraform.tfstate.lock.info

# Packer
/packer/variables.json
/packer/variables_full.json

# My scripts
*.cache

# Ansible
*.retry
service_account.json
vault.key

# Ansible Galaxy
jdauphant.nginx

# Inspec
inspec.lock

# Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
